[submodule "rtl/tg68k"]
	path = rtl/tg68k
	url = https://github.com/TobiFlex/TG68K.C.git
[submodule "EightThirtyTwo"]
	path = EightThirtyTwo
	url = git@github.com:ranzbak/EightThirtyTwo.git
[submodule "lib/AP68040"]
	path = lib/AP68040
	url = git@github.com:apolkosnik/AP68040.git
