# ignore backup files
*~

# ignore vi swapfiles
.*.swp

# ignore compiled python
*pyc

# ignore some backup files
*bak

# ignore some c files
*\.o
*\.d

# ignore dropbox files
.dropbox.attr

# ignore directories
bin/
rel/
fpga/*/out/
fpga/*/db/
fpga/*/incremental_db/
greybox_tmp/

# build script shouldn't be in repo
build.sh

# ignore generated version file
rtl/minimig/minimig_version.vh

# Ignore Vivado project
project_1/**

# Ignore the built Rom generator
fw/romgen/romgen
fw/ctrl_boot_832/OSDBoot_832.bin
fw/ctrl_boot_832/OSDBoot_832.map
fw/ctrl_832/832OSDAD.bin
fw/ctrl_832/832OSDAD.map

# Ignore Xvhdl files
xvhdl.*
.Xil/*

# Editor files
.hdl_checker/*
.vscode/*
vivado*
