{
    "sources": [
        ["rtl/**/*.v", { "library": "work" }],
        ["rtl/**/*.sv", { "library": "work" }],
        ["rtl/**/*.vhd", { "library": "work", "flags": ["-2008"] } ],
        ["rtl/**/*.vh"],
        ["EightThirtyTwo/RTL/*.vhd", { "library": "work", "flags": ["-2008"] }],
        ["fw/romgen/*.vhd", { "library": "work", "flags": ["-2008"] }]
    ]
}
